/*http://paletton.com/palette.php?uid=7000u0kiCFn8GVde7NVmtwSqXtg!*/
body {
    background-color: #FFBABA;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    font-size: 1.5em;
    color: inherit;
    text-decoration: none;
}
.header {
    background-color: #670023;          
    width: 100%;
    height: 4em;    
    color: #ddd;
}
.header button {
    font-size: 1.5em;    
    background: none;
    background-color: #6F002F;
    padding: 0.2em;    
    color: white;
    margin-left: 1em;
    box-shadow: 3px 3px 10px #000;
    border: none;    
    height: 100%;    
    float: right;
}

.header button:hover{        
    background-color: #9B0343;
}
.wrapper {
    position: relative;
    min-height: 720px;
    padding: 90px 0px 80px 0px;
    z-index: 5;
    margin: 0 auto;
    max-width: 980px;
    min-width: 306px;    
}

.flashy_wrapper, .text_wrapper{
    position: relative;        
    
    
}
.flashy_wrapper {
    width: 100%;
    min-height: 10em;
    padding: 3em;    
    color: white;
    text-shadow: 0px 0px 5px white;
    box-shadow: 1px 1px 6px #222;  
    background: linear-gradient(to bottom right, #B01100, #FF4633);
    border-radius: 20px;
    border-color: white;
    border-width:4px;
    background-color: #ACEDED;
}
.text_wrapper {
    margin: 2em;
    width: 100%;
    padding: 1em;
    color: #502;
    background: white;
    box-shadow: 4px 4px 3px #333;    
    border-radius: 20px 50px 50px 5px;
    font-size: 1.3em;
}

.text_wrapper h2 {   
    font-size: 1.5em;
    background-color: #B01100;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.2) 0px 3px 3px;
}

#header_login {    
    display: none;
    height: 1em;    
    padding: 1em;
    background-color: #FF0343;    
    float: right;
}
.clicked {
    background-color: #FF0343;
}   
#main {
    width: 100%;
    height: 100%;
    background-image: url("../images/background_3.jpg");
    background-size: cover;
    background-color: # FFAE6B;
    text-align: center;
}

#info {
    
}
#register_form {    
    margin-left: 10%;
}
#register_form label {
    margin-right: 10px;
}
#register_form input {    
    width: 100%;
    background-color: #fef;
    float: right;
    border-radius: 3px 10px 10px 10px;
    font-size: 1em;
    margin-left: 1em;
    
}
#register_form input[type=radio] {    
    float:left;
    background-color: red;    
}

#register_form input[type=submit] {
    width: 100%;
}



